@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
* {
  padding: 0%;
  margin: 0%;
}

.estrenos, .proximos-estrenos, .section2-main .S20, .section2-main .S19, .section2-main .S18, .section2-main .S17, .section2-main .S16, .section2-main .S15, .section2-main .S14, .section2-main .S13, .section2-main .S12, .section2-main .S11, .section2-main .S10, .section2-main .S9, .section2-main .S8, .section2-main .S7, .section2-main .S6, .section2-main .S5, .section2-main .S4, .section2-main .S3, .section2-main .S2, .section2-main .S1, .fondonoticias, .section2, .section1, .section-footer {
  display: flex;
  justify-content: center;
}

.body {
  font-family: "Orbitron", sans-serif;
  background-color: rgb(27, 27, 27);
}

/*Header y Footer*/
/*Header*/
.cabecera {
  border: solid 3px rgba(34, 34, 34, 0.952);
  background-color: rgb(27, 27, 27);
  max-width: 100%;
  position: sticky;
  top: 0;
  z-index: 1;
  /*Transiciones-Animaciones-Transformaciones*/
}
.cabecera__ul__li {
  list-style: none;
  font-weight: 550;
  margin-left: 6vw;
}
.cabecera__ul__li__a--myanime {
  background: linear-gradient(120deg, #EDDE5D, #7ad147, #2ecc71, #3498db, #c64bd6, #f58c2a, #EDDE5D);
  background-size: 400%;
  font-weight: 800;
  letter-spacing: 4px;
  margin-left: 50px;
  word-spacing: 4px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  animation: animate 15s linear infinite;
}
.cabecera .navbar-brand:hover {
  transform: scale(1.1);
}
.cabecera .nav-link:hover {
  transform: scale(1.08);
}
@keyframes animate {
  0% {
    background-position: 0% 100%;
  }
  100% {
    background-position: 400% 0%;
  }
}

.section-footer {
  align-items: center;
}

.footer {
  width: 80%;
  height: auto;
  display: flex;
  border: solid 2px rgba(255, 115, 0, 0.952);
  background: #000 linear-gradient(180deg, rgb(1, 28, 36), rgba(0, 0, 0, 0));
  margin: 3vw 0 3vw 0;
  padding: 20px;
}
.footer__nav ul {
  list-style-type: none;
  padding: 2px;
}
.footer__div {
  margin-left: 10vw;
  width: 100%;
}
.footer__div__h2 {
  color: aliceblue;
  margin-bottom: 10px;
  font-size: 17px;
}
.footer__div__h2:hover {
  transform: scale(1.01);
}
.footer__div .footer__div__img {
  width: 25px;
  margin: 10px 0 0 0;
}
.footer .footer__div2 a {
  margin: 20px 0 0 0px;
  font-size: 13px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  text-decoration: none;
  color: aliceblue;
}

/*Index*/
.section1 {
  align-items: center;
  background-image: url(../multimedia/FondosSections/VERDE-ABSTRAC.jpg);
  width: 100%;
  height: 65vh;
}
.section1 .carousel {
  width: 45%;
  height: auto;
}
.section1 .section1__img {
  width: 20vw;
}

.section2 {
  width: 100%;
  margin: 50px 0 50px 0;
}
.section2__img {
  border-radius: 15px;
  width: 14vw;
}
.section2__recomendados {
  width: 80vw;
  padding: 20px 5px 20px 5px;
  background-color: rgb(1, 28, 36);
  border: solid 2px rgba(255, 115, 0, 0.952);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.section2__recomendados__div1 {
  grid-area: 1/1/2/3;
}
.section2__recomendados__div2 {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2__recomendados__div3 {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2__recomendados__div4 {
  grid-area: 2/3/3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2__recomendados__div5 {
  grid-area: 2/4/3/5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section2__recomendados__titulo {
  width: 92.5%;
  padding: 8px 0px 8px 8px;
  margin: 0 0 30px 2.8vw;
  border: outset 2px rgba(255, 115, 0, 0.952);
  color: aliceblue;
  font-weight: 400;
  font-size: 30px;
  /*Transform*/
}
.section2__recomendados__titulo:hover {
  transform: scale(1.02);
}
.section2 .cards {
  margin: 0 0 0 0px;
  /*Transform*/
}
.section2 .cards:hover {
  transform: scale(1.02);
}
.section2 .texto-card {
  width: 14vw;
  color: aliceblue;
  margin: 0 0 0 5px;
  font-size: 15px;
  padding-top: 10px;
}

.fondonoticias {
  align-items: center;
  background-image: url(/multimedia/FondosSections/FondoNaranja.jpg);
  max-width: 100%;
  height: 65vh;
}

.noticias {
  width: 60%;
  border: solid 2px rgba(255, 115, 0, 0.952);
  padding: 20px;
  background-color: rgb(1, 28, 36);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
}
.noticias__titulo {
  grid-area: 1/1/2/5;
  padding: 0 0 10px;
  display: flex;
}
.noticias__div1 {
  grid-area: 2/1/3/2;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noticias__div2 {
  grid-area: 2/2/3/3;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noticias__div3 {
  grid-area: 2/3/3/4;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noticias__div4 {
  grid-area: 2/4/5/5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noticias__titulo__t {
  width: 100%;
  padding: 8px 0px 8px 8px;
  color: aliceblue;
  margin-bottom: 15px;
  font-size: 30px;
  border: outset 2px rgba(255, 115, 0, 0.952);
  /*Transform*/
}
.noticias__titulo__t:hover {
  transform: scale(1.01);
}
.noticias__img {
  width: 10vw;
  height: auto;
  padding: 3px;
  border: solid 2px rgba(255, 115, 0, 0.952);
  /*Transform*/
}
.noticias__img:hover {
  transform: scale(1.02);
}
.noticias .texto1 {
  color: aliceblue;
  padding: 5px;
  font-size: small;
}

/*Media Quearis index*/
/* Queries Laptop*/
@media (min-width: 769px) and (max-width: 1024px) {
  .cabecera {
    padding: 10px;
    max-width: 100%;
    height: auto;
  }
  .cabecera__ul__li__a--myanime {
    margin: 0 0 0 15px;
  }
  .section1 {
    max-width: 100%;
    padding: 0px;
    height: auto;
  }
  .section1 .carousel {
    margin: 20px 0 20px 0;
    width: 80%;
  }
  .section2__recomendados {
    width: 100%;
    height: auto;
    padding: 20px;
  }
  .section2__recomendados .section2__img {
    width: 20vw;
    height: auto;
  }
  .section2__recomendados__titulo {
    margin-left: 2.2vw;
  }
  .fondonoticias {
    padding: 50px 0 50px 0;
    width: 100%;
    height: auto;
  }
  .noticias {
    width: 80%;
    height: auto;
    padding: 10px;
  }
  .noticias__img {
    width: 15vw;
    height: auto;
    padding: 3px;
  }
  .noticias__titulo {
    font-size: 15px;
    padding: 20px;
  }
  .noticias .texto1 {
    padding: 0.625rem;
    font-size: 90%;
  }
  .footer__nav ul {
    padding: 0px;
  }
  .footer__div {
    margin-left: 7vw;
    width: 100%;
  }
  .footer__div__h2 {
    margin-bottom: 10px;
    font-size: 17px;
  }
  .footer .footer__div__img {
    width: 29px;
    margin: 10px 0 0 0;
  }
  .footer .footer__div2 a {
    margin: 20px 0 0 0px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
  }
}
/* Queries Tablet*/
@media (min-width: 481px) and (max-width: 768px) {
  .cabecera {
    max-width: 100%;
    height: auto;
  }
  .cabecera__ul__li__a--myanime {
    margin: 0 0 0 15px;
  }
  .section1 {
    height: auto;
  }
  .section1 .carousel {
    margin: 20px 0 20px 0;
    width: 80%;
  }
  .section2 {
    margin: 30px 0 30px 0;
  }
  .section2__img {
    width: 20vw;
    height: auto;
    padding: 5px;
  }
  .section2__recomendados {
    width: 100%;
    height: auto;
    padding: 20px 0 20px 0;
  }
  .section2__recomendados__titulo {
    width: 100%;
    margin: 0 0 0 2vw;
    padding: 5px;
    font-size: 30px;
  }
  .section2__recomendados__div1 {
    padding: 0px 0px 30px 5px;
    max-width: 100%;
  }
  .section2__recomendados .texto-card {
    font-size: 14px;
    width: 20vw;
    padding: 0;
  }
  .fondonoticias {
    width: 100%;
    height: auto;
    background: none;
  }
  .noticias {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  .noticias__titulo__t {
    grid-area: 1/1/2/3;
    font-size: 30px;
  }
  .noticias__titulo__t .texto1 {
    padding: 10px;
    font-size: 16px;
  }
  .noticias__div1 {
    grid-area: 2/1/3/2;
  }
  .noticias__div2 {
    grid-area: 2/2/3/3;
  }
  .noticias__div3 {
    grid-area: 3/1/4/2;
  }
  .noticias__div4 {
    grid-area: 3/2/4/3;
  }
  .noticias__img {
    width: 22vw;
    height: auto;
  }
  .footer {
    width: 90%;
  }
  .footer__nav ul {
    padding: 0px;
  }
  .footer__div {
    margin-left: 6vw;
    width: 100%;
  }
  .footer__div__h2 {
    margin-bottom: 10px;
    font-size: 17px;
  }
  .footer .footer__div__img {
    width: 27px;
    margin: 5px 0 0 0;
  }
  .footer .footer__div2 a {
    margin: 20px 0 0 0px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
  }
}
/* Queries Mobile*/
@media (min-width: 320px) and (max-width: 480px) {
  .cabecera {
    padding: 15px 5px 15px 5px;
    max-width: 100%;
  }
  .cabecera__ul__li__a--myanime {
    margin: 0;
  }
  .section1 {
    width: 100%;
    height: 100%;
  }
  .section1 .carousel {
    padding: 20px 0 20px 0;
    width: 90%;
  }
  .section2 {
    width: 100%;
    height: 100%;
    margin: 10px 0 10px 0;
  }
  .section2__img {
    width: 35vw;
    height: auto;
    margin: 15px 0 15px 0;
  }
  .section2__recomendados {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  .section2__recomendados__div1 {
    grid-area: 1/1/2/3;
    width: 80%;
    margin: 0 0 0 0;
  }
  .section2__recomendados__div2 {
    grid-area: 2/1/3/2;
  }
  .section2__recomendados__div3 {
    grid-area: 2/2/3/3;
  }
  .section2__recomendados__div4 {
    grid-area: 3/1/4/2;
  }
  .section2__recomendados__div5 {
    grid-area: 3/2/4/3;
  }
  .section2__recomendados__titulo {
    font-size: 20px;
    margin: 0 0 0 30px;
  }
  .section2 .texto-card {
    font-size: 13px;
    margin: 0;
    width: 35vw;
    padding: 0;
  }
  .fondonoticias {
    max-width: 100%;
    height: auto;
  }
  .noticias {
    width: 100%;
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(3, auto);
  }
  .noticias__titulo__t {
    grid-area: 1/1/2/3;
    font-size: 20px;
  }
  .noticias__div1 {
    grid-area: 2/1/3/2;
  }
  .noticias__div2 {
    grid-area: 2/2/3/3;
  }
  .noticias__div3 {
    grid-area: 3/1/4/2;
  }
  .noticias__div4 {
    grid-area: 3/2/4/3;
  }
  .noticias__img {
    width: 30vw;
    height: auto;
    padding: 3px;
  }
  .noticias .texto1 {
    font-family: "Orbitron", sans-serif;
    color: aliceblue;
    padding: 0.625rem;
    font-size: 3vw;
  }
  .footer {
    width: 100%;
  }
  .footer__nav ul {
    padding: 0px;
  }
  .footer__div {
    margin-left: 3vw;
    width: 100%;
  }
  .footer__div__h2 {
    margin-bottom: 10px;
    font-size: 15px;
  }
  .footer .footer__div__img {
    width: 25px;
    margin: 5px 0 0 0;
  }
  .footer .footer__div2 a {
    margin: 20px 0 0 0px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
  }
}
/*Pages*/
.section-destacados {
  max-width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url(../../multimedia/FondosSections/FondoVerdeyAzul.jpg);
  padding: 0 50px;
}

.destacados__novedades {
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.destacados__novedades .pages-titulo {
  grid-area: 1/1/2/4;
}
.destacados__novedades .destacados-img1 {
  grid-area: 2/1/3/2;
}
.destacados__novedades .destacados-img2 {
  grid-area: 2/2/3/3;
}
.destacados__novedades .destacados-img3 {
  grid-area: 2/3/3/4;
}
.destacados__novedades .destacados-img4 {
  grid-area: 2/4/3/5;
}
.destacados__novedades .destacados-img5 {
  grid-area: 2/5/3/6;
}
.destacados__novedades .destacados-img6 {
  grid-area: 2/6/3/7;
}
.destacados__novedades img {
  width: 13vw;
  height: auto;
  padding: 0px;
  border-radius: 15px;
}
.destacados__novedades .titulos {
  border: outset 2px rgba(255, 115, 0, 0.952);
  background-color: rgb(1, 28, 36);
  padding: 8px 10px 8px 8px;
  width: 65%;
  color: aliceblue;
  font-weight: 400;
  margin: 30px 0 20px 10px;
  font-size: 30px;
  /*transform*/
}
.destacados__novedades .titulos:hover {
  transform: scale(1.02);
}
.destacados__novedades .cards-sect1 {
  width: 15vw;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  /*transform*/
}
.destacados__novedades .cards-sect1:hover {
  transform: scale(1.02);
}
.destacados__novedades .texto__cards {
  color: aliceblue;
  margin: 0 0 0 0;
  padding: 10px 0 0 10px;
  font-weight: 500;
}

.section2-li {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section2-main {
  width: 60%;
  font-family: "Orbitron", sans-serif;
  height: auto;
  border: solid 2px rgba(255, 115, 0, 0.952);
  margin-top: 50px;
  background-color: rgb(1, 28, 36);
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
.section2-main .ST {
  grid-area: 1/1/2/5;
  width: auto;
  display: flex;
}
.section2-main .S1 {
  grid-area: 2/1/3/2;
}
.section2-main .S2 {
  grid-area: 2/2/3/3;
}
.section2-main .S3 {
  grid-area: 2/3/3/4;
}
.section2-main .S4 {
  grid-area: 2/4/3/5;
}
.section2-main .S5 {
  grid-area: 3/1/4/2;
}
.section2-main .S6 {
  grid-area: 3/2/4/3;
}
.section2-main .S7 {
  grid-area: 3/3/4/4;
}
.section2-main .S8 {
  grid-area: 3/4/4/5;
}
.section2-main .S9 {
  grid-area: 4/1/5/2;
}
.section2-main .S10 {
  grid-area: 4/2/5/3;
}
.section2-main .S11 {
  grid-area: 4/3/5/4;
}
.section2-main .S12 {
  grid-area: 4/4/5/5;
}
.section2-main .S13 {
  grid-area: 5/1/6/2;
}
.section2-main .S14 {
  grid-area: 5/2/6/3;
}
.section2-main .S15 {
  grid-area: 5/3/6/4;
}
.section2-main .S16 {
  grid-area: 5/4/6/5;
}
.section2-main .S17 {
  grid-area: 6/1/7/2;
}
.section2-main .S18 {
  grid-area: 6/2/7/3;
}
.section2-main .S19 {
  grid-area: 6/3/7/4;
}
.section2-main .S20 {
  grid-area: 6/4/7/5;
}
.section2-main__titulo {
  display: flex;
  border: outset 2px rgba(255, 115, 0, 0.952);
  padding: 8px;
  width: 47.2%;
  color: aliceblue;
  font-weight: 400;
  font-size: 30px;
  margin: 20px 0 20px 1.4vw;
  /*Transform*/
}
.section2-main__titulo:hover {
  transform: scale(1.02);
}
.section2-main__img {
  width: 100%;
  height: auto;
  border-radius: 15px;
}

.cards-sect2 {
  width: 12vw;
  border: none;
  margin-bottom: 20px;
}
.cards-sect2:hover {
  transform: scale(1.02);
}

.texto__cards {
  color: aliceblue;
  margin: 0px;
  padding: 10px 0 0 3px;
}

.mas-vistos {
  max-width: 100%;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 50px;
  background-image: url(../../multimedia/FondosSections/FondoNaranjayRosa.jpg);
}

/*Peliculas*/
.proximos-estrenos {
  width: 100%;
  height: 65vh;
  background-image: url(../../multimedia/FondosSections/FondoColores.jpg);
  align-items: center;
}
.proximos-estrenos .carousel {
  width: 45%;
  height: auto;
}

.estrenos {
  margin-top: 20px;
}

.estrenos img {
  width: 35vw;
  height: auto;
}

/* Fin Peliculas*/
/*contactos*/
.fondo-contacto {
  background-image: url(../../multimedia/FondosSections/FONDO-PELIS.jpg);
  height: 65vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form {
  width: 700px;
  height: auto;
  padding: 10px;
  color: aliceblue;
  background-color: rgb(1, 28, 36);
  border: solid 2px rgba(255, 115, 0, 0.952);
}

.form__text {
  margin-left: 10px;
  font-size: 15px;
}

.form__label {
  width: 180px;
  height: 30px;
  margin: 11px;
  border-radius: 5px;
  font-size: 12px;
  padding: 5px;
}

.label-email {
  font-size: 15px;
}

.form__email {
  width: 190px;
  height: 30px;
  margin-left: 10px;
  font-size: 11px;
  border-radius: 5px;
  padding: 5px;
}

.div-mensaje {
  padding: 10px;
}

.form__mensaje {
  width: 660px;
  height: 12.5rem;
  border-radius: 5px;
  padding: 5px;
}

.boton-enviar {
  display: flex;
  justify-content: flex-end;
  padding-right: 6px;
}

.form__enviar {
  width: 90px;
  height: auto;
  padding: 2px;
  border-radius: 5px;
}

/*fin contactos*/
/*Media Quearis index*/
/*Quearis Laptop*/
@media (min-width: 769px) and (max-width: 1024px) {
  .section-destacados {
    max-width: 100%;
    height: auto;
    padding: 0 15px 0 15px;
  }
  .destacados {
    width: 100%;
  }
  .destacados__novedades {
    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .destacados__novedades__h2 {
    width: 100%;
  }
  .destacados__novedades .titulos {
    margin: 20px 0 20px 10px;
    font-size: 25px;
  }
  .destacados__novedades .cards-sect1 {
    width: 20vw;
    /*transform*/
  }
  .destacados__novedades .cards-sect1:hover {
    transform: scale(1.02);
  }
  .destacados__novedades .texto__cards {
    font-size: 14px;
  }
  .destacados-img1 {
    grid-area: 1/1/2/2;
    width: 18vw;
  }
  .destacados-img2 {
    grid-area: 1/2/2/3;
    width: 18vw;
  }
  .destacados-img3 {
    grid-area: 1/3/2/4;
    width: 18vw;
  }
  .destacados-img4 {
    grid-area: 2/1/3/2;
    width: 18vw;
  }
  .destacados-img5 {
    grid-area: 2/2/3/3;
    width: 18vw;
  }
  .destacados-img6 {
    grid-area: 2/3/3/4;
    display: none;
  }
  .destacados__novedades img {
    width: 18vw;
  }
  .section2-main {
    width: 90%;
  }
  .section2-main__titulo {
    width: 50%;
    margin-left: 10px;
  }
  .section2-main__img {
    width: 18vw;
    height: auto;
  }
  .section2-main .cards-sect2 {
    width: 18vw;
  }
  .section2-main .S9 {
    display: none;
  }
  .section2-main .S10 {
    display: none;
  }
  .section2-main .S11 {
    display: none;
  }
  .section2-main .S12 {
    display: none;
  }
  .section2-main .S13 {
    display: none;
  }
  .section2-main .S14 {
    display: none;
  }
  .section2-main .S15 {
    display: none;
  }
  .section2-main .S16 {
    display: none;
  }
  .section2-main .S17 {
    display: none;
  }
  .section2-main .S18 {
    display: none;
  }
  .section2-main .S19 {
    display: none;
  }
  .section2-main .S20 {
    display: none;
  }
  /*Completos*/
  .mas-vistos {
    max-width: 100%;
    height: auto;
    padding: 0 15px 0 15px;
  }
  /*Peliculas*/
  .proximos-estrenos {
    max-width: 100%;
    padding: 0px;
    height: auto;
  }
  .proximos-estrenos .carousel {
    margin: 20px 0 20px 0;
    width: 80%;
  }
  .estrenos img {
    width: 60vw;
    margin-bottom: 30px;
  }
  /*Contacto*/
  .form {
    width: 650px;
  }
  .form__text {
    font-size: 13px;
  }
  .form__label {
    width: 160px;
  }
  .label-email {
    font-size: 13px;
  }
  .form__email {
    width: 170px;
  }
  .form__mensaje {
    width: 610px;
  }
}
/* Fin Queries Laptop*/
/* Queries Tablet*/
@media (min-width: 481px) and (max-width: 768px) {
  .section-destacados {
    max-width: 100%;
    height: auto;
    padding: 0 15px 0 15px;
  }
  .destacados-img1 {
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: center;
  }
  .destacados-img2 {
    grid-area: 1/2/2/3;
    display: flex;
    justify-content: center;
  }
  .destacados-img3 {
    grid-area: 1/3/2/4;
    display: flex;
    justify-content: center;
  }
  .destacados-img4 {
    display: none;
  }
  .destacados-img5 {
    display: none;
  }
  .destacados-img6 {
    display: none;
  }
  .destacados__novedades {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .destacados__novedades img {
    width: 25vw;
  }
  .destacados__novedades .titulos {
    margin: 20px 0 20px 23px;
    font-size: 25px;
  }
  .destacados__novedades .cards-sect1 {
    width: 28vw;
  }
  .destacados__novedades .texto__cards {
    font-size: 16px;
  }
  .section2-main {
    width: 90%;
  }
  .section2-main__titulo {
    width: 50%;
    margin-left: 10px;
    font-size: 25px;
  }
  .section2-main__img {
    width: 20vw;
    height: auto;
  }
  .section2-main .cards-sect2 {
    width: 20vw;
  }
  .section2-main .S5 {
    display: none;
  }
  .section2-main .S6 {
    display: none;
  }
  .section2-main .S7 {
    display: none;
  }
  .section2-main .S8 {
    display: none;
  }
  .section2-main .S9 {
    display: none;
  }
  .section2-main .S10 {
    display: none;
  }
  .section2-main .S11 {
    display: none;
  }
  .section2-main .S12 {
    display: none;
  }
  .section2-main .S13 {
    display: none;
  }
  .section2-main .S14 {
    display: none;
  }
  .section2-main .S15 {
    display: none;
  }
  .section2-main .S16 {
    display: none;
  }
  .section2-main .S17 {
    display: none;
  }
  .section2-main .S18 {
    display: none;
  }
  .section2-main .S19 {
    display: none;
  }
  .section2-main .S20 {
    display: none;
  }
  .mas-vistos {
    max-width: 100%;
    height: auto;
    padding: 0 15px 0 15px;
  }
  .proximos-estrenos {
    max-width: 100%;
    padding: 0px;
    height: auto;
  }
  .proximos-estrenos .carousel {
    margin: 20px 0 20px 0;
    width: 80%;
  }
  .estrenos img {
    width: 60vw;
    margin-bottom: 30px;
  }
  /*Contacto*/
  .fondo-contacto {
    padding: 15px;
  }
  .form {
    width: 450px;
    display: flex;
    flex-direction: column;
  }
  .form__text {
    font-size: 15px;
  }
  .form__label {
    width: 200px;
  }
  .label-email {
    font-size: 15px;
    margin-left: 10px;
  }
  .form__email {
    width: 200px;
    margin: 10px;
  }
  .form__mensaje {
    width: 410px;
  }
}
/* Fin Queries tablet*/
/* Queries Mobile*/
@media (min-width: 320px) and (max-width: 480px) {
  .section-destacados {
    max-width: 100%;
    height: auto;
    padding: 0 15px 0 15px;
  }
  .destacados {
    width: 100%;
  }
  .destacados__novedades {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .destacados__novedades img {
    width: 26vw;
  }
  .destacados__novedades .titulos {
    margin: 20px 0 20px 5px;
    font-size: 20px;
  }
  .destacados__novedades .cards-sect1 {
    width: auto;
  }
  .destacados__novedades .texto__cards {
    font-size: 14px;
  }
  .destacados__novedades .destacados-img1 {
    display: flex;
    justify-content: center;
  }
  .destacados__novedades .destacados-img2 {
    display: flex;
    justify-content: center;
  }
  .destacados__novedades .destacados-img3 {
    display: flex;
    justify-content: center;
  }
  .destacados__novedades .destacados-img4 {
    display: none;
  }
  .destacados__novedades .destacados-img5 {
    display: none;
  }
  .destacados__novedades .destacados-img6 {
    display: none;
  }
  .section2-main {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
  .section2-main .ST {
    grid-area: 1/1/2/4;
  }
  .section2-main .S1 {
    grid-area: 2/1/3/2;
  }
  .section2-main .S2 {
    grid-area: 2/2/3/3;
  }
  .section2-main .S3 {
    grid-area: 2/3/3/4;
  }
  .section2-main .S4 {
    display: none;
  }
  .section2-main .S5 {
    display: none;
  }
  .section2-main .S6 {
    display: none;
  }
  .section2-main .S7 {
    display: none;
  }
  .section2-main .S8 {
    display: none;
  }
  .section2-main .S9 {
    display: none;
  }
  .section2-main .S10 {
    display: none;
  }
  .section2-main .S11 {
    display: none;
  }
  .section2-main .S12 {
    display: none;
  }
  .section2-main .S13 {
    display: none;
  }
  .section2-main .S14 {
    display: none;
  }
  .section2-main .S15 {
    display: none;
  }
  .section2-main .S16 {
    display: none;
  }
  .section2-main .S17 {
    display: none;
  }
  .section2-main .S18 {
    display: none;
  }
  .section2-main .S19 {
    display: none;
  }
  .section2-main .S20 {
    display: none;
  }
  .section2-main__titulo {
    width: 65%;
    margin-left: 10px;
    font-size: 20px;
  }
  .section2-main__img {
    width: 20vw;
    height: auto;
  }
  .section2-main .cards-sect2 {
    width: 20vw;
  }
  .section2-main .texto__cards {
    font-size: 12px;
  }
  .mas-vistos {
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
  }
  .proximos-estrenos {
    max-width: 100%;
    padding: 0px;
    height: auto;
  }
  .proximos-estrenos .carousel {
    margin: 20px 0 20px 0;
    width: 90%;
  }
  .estrenos img {
    width: 80vw;
    margin-bottom: 30px;
  }
  /*Contacto*/
  .fondo-contacto {
    padding: 15px;
  }
  .form {
    display: flex;
    flex-direction: column;
    width: 310px;
  }
  .form__text {
    font-size: 15px;
  }
  .form__label {
    margin: 10px;
    width: 180px;
  }
  .label-email {
    font-size: 15px;
    margin-left: 10px;
  }
  .form__email {
    width: 180px;
    margin: 10px;
  }
  .form__mensaje {
    width: 270px;
  }
}
/*Fin Queries Mobile*/

/*# sourceMappingURL=style.css.map */
