.fondonoticias {
    @extend %flex-center;
    align-items: map-get($standard, center-standar);
    background-image: url(../multimedia/FondosSections/FONDO-NARANJA.jpg);
    width: 100%;
    height: 65vh;
}

.noticias {
    @include ancho (60%);
    border: $border-sections;
    padding: 20px;
    background-color: $background-sections;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
        
    &__titulo { grid-area: 1 / 1 / 2 / 5;
        padding: 0 0 10px;
        display: flex;}
    &__div1 { grid-area: 2 / 1 / 3 / 2;
        display: flex;
        flex-direction: column;
        align-items: map-get($standard, center-standar);}
    &__div2 { grid-area: 2 / 2 / 3 / 3;
        display: flex;
        flex-direction: column;
        align-items: map-get($standard, center-standar);}
    &__div3 { grid-area: 2 / 3 / 3 / 4; 
        display: flex;
        flex-direction: column;
        align-items: map-get($standard, center-standar);}
    &__div4 { grid-area: 2 / 4 / 5 / 5; 
        display: flex;
        flex-direction: column;
        align-items: map-get($standard, center-standar);}

    &__titulo__t {
        @include ancho (100%);
        padding: 10px 5px 10px 5px;
        color: $color-fuente;
        margin-bottom: 15px;
        font-size: 170%;
        border: $border-titulos;
    
       /*Transform*/
        &:hover {
            transform: scale(1.01);
        }
    }    
 
    &__img {
        @include ancho (10vw);
        @include alto (auto);
        padding: 3px;
        border: solid 2px rgba(255, 115, 0, 0.952);

         /*Transform*/
        &:hover {
        transform: scale(1.02);
        }
    }

    .texto1 {
    color: $color-fuente;
    padding: 5px;
    font-size: small;}
}   
  
       
