
/* Queries Laptop*/

@media (min-width: 769px) and (max-width: 1024px) {

    .cabecera {
        padding: 10px;
        max-width: 100%;
        height: auto;
       }
    .cabecera__ul__li__a--myanime {
        margin: 0 0 0 15px;
        }

    
    .section1 {
        max-width: 100%;
        padding: 0px;
        height: auto;

        .carousel {
            margin:20px 0 20px 0 ;
            width: 80%;
           }
        }
    
    .section2__recomendados {
        width: 100%;
        height: auto;
        padding: 20px;

        .section2__img {
            width: 20vw;
            height: auto;
        }
        
        &__titulo {
            margin-left: 2.2vw;
        }

    }
    
    .fondonoticias {
        padding: 50px 0 50px 0 ;
        width: 100%;
        height: auto;
        }
    
    .noticias {
        width: 80%;
        height: auto;
        padding: 10px;


        &__img {
            width: 15vw;
            height: auto;
            padding: 3px;
        }
            
        &__titulo {
            font-size: 15px;
            padding: 20px;
            }
        
        .texto1 { 
            padding: 0.625rem;
            font-size: 90%;
            }

        }

     .footer {

            &__nav ul  {
                    padding: 0px;
                     }
                    
            &__div { 
                margin-left: 7vw;
                width: 100%;
                        
                &__h2{
                    margin-bottom: 10px;
                    font-size: 17px;} 
                           }
        
        .footer__div__img {
            width: 29px;
            margin: 10px 0 0 0;}
                       
                    
        .footer__div2 a  {
            margin:20px 0 0 0px;
            font-size: 14px;
            display: flex;
            flex-direction: column;
            list-style-type: none;
            text-decoration: none;
            color: aliceblue;
                    
                        }
        
                    }
      
}
            
/* Queries Tablet*/

@media (min-width: 481px) and (max-width: 768px) {

    .cabecera {
        max-width: 100%;
        height: auto;
        }
    .cabecera__ul__li__a--myanime {
        margin: 0 0 0 15px;
        }

    .section1 {
        height: auto;

        .carousel {
            margin:20px 0 20px 0 ;
            width: 80%;
           }

        }
    
    .section2 {
     margin: 30px 0 30px 0 ;

        &__img {
                width: 20vw;
                height: auto;
                padding: 5px;
            }

     &__recomendados {
            width: 100%;
            height: auto;
            padding: 20px 0 20px 0;
            

        &__titulo {
            width: 100%;
            margin: 0 0 0 2vw;
            padding: 5px;
            font-size: 25px;}
            
            &__div1 {
                padding: 0px 0px 30px 5px;
    
            }


            .texto-card {
                font-size: 14px;
                width: 20vw;
                padding: 0;


            }

            }


    }
    
    .fondonoticias {
        width: 100%;
        height: auto;
        background: none;
    }
    
    .noticias {
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);

        &_titulo { grid-area: 1 / 1 / 2 / 3; 
            font-size: 15px;
            padding: 5px 0 0 0;

            .texto1 { 
            padding: 0.625rem;
            font-size: 16px;
            }
            }

        &__div1 { grid-area: 2 / 1 / 3 / 2; }
        &__div2 { grid-area: 2 / 2 / 3 / 3; }
        &__div3 { grid-area: 3 / 1 / 4 / 2; }
        &__div4 { grid-area: 3 / 2 / 4 / 3; }

        &__img {
            width: 22vw;
            height: auto;
        }
            
        }
    
.footer {
width: 90%;

    &__nav ul  {
            padding: 0px;
             }
            
    &__div { 
        margin-left: 6vw;
        width: 100%;
                
        &__h2{
            margin-bottom: 10px;
            font-size: 17px;} 
                   }

.footer__div__img {
    width: 27px;
    margin: 5px 0 0 0;}
               
            
.footer__div2 a  {
    margin:20px 0 0 0px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
            
                }

            }

        }
        
/* Queries Mobile*/

@media (min-width: 320px) and (max-width: 480px) {

    .cabecera {
        padding: 15px 5px 15px 5px;
        max-width: 100%; 
        }
    
    .cabecera__ul__li__a--myanime {
        margin: 0;
    }
    .section1 {
        width: 100%;
        height: 100%;

        .carousel {
            padding: 20px 0 20px 0;  
            width: 90%;
            }

        }
    
    .section2 {
        width: 100%;   
        height: 100%;
        margin: 10px 0 10px 0;

      &__img {
            width: 35vw;
            height: auto;
            margin: 15px 0 15px 0;
        }
        
        &__recomendados {
            width: 100%;
            height: auto;
            display: grid;
            grid-template-columns: repeat(2, auto);
            grid-template-rows: repeat(3, auto);

            &__div1 { grid-area: 1 / 1 / 2 / 3;
              width: 80%;
              margin: 0 0 0 0;
                    }

            &__div2 { grid-area: 2 / 1 / 3 / 2; 
           }

            &__div3 { grid-area: 2 / 2 / 3 / 3; 
           }

            &__div4 { grid-area: 3 / 1 / 4 / 2;
            }

            &__div5 { grid-area: 3 / 2 / 4 / 3; 
            }
                
            &__titulo {
                font-size: 20px;
                margin: 0 0 0 30px;
             
                    }

            }

            .texto-card {
                font-size: 13px;
                margin: 0;
                width: 35vw;
                padding: 0;


            }
 }
    
    .fondonoticias {
        max-width: 100%;
        height: auto;
    }
    
    .noticias {
        width: 100%;
        padding: 10px;
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(3, auto);

        &__titulo { grid-area: 1 / 1 / 2 / 3;  
            font-size: 4vw;
            padding: 20px;}
        &__div1 { grid-area: 2 / 1 / 3 / 2; }
        &__div2 { grid-area: 2 / 2 / 3 / 3; }
        &__div3 { grid-area: 3 / 1 / 4 / 2; }
        &__div4 { grid-area: 3 / 2 / 4 / 3; }
            
        &__img {
            width: 30vw;
            height: auto;
            padding: 3px;
        }
            
        .texto1 { 
            font-family: 'Orbitron', sans-serif;
            color: aliceblue;
            padding: 0.625rem;
            font-size: 3vw;   
            }

            }
            
.footer {
width: 100%;

    &__nav ul  {
            padding: 0px;
             }
            
    &__div { 
        margin-left: 3vw;
        width: 100%;
                
        &__h2{
            margin-bottom: 10px;
            font-size: 15px;} 
                   }

.footer__div__img {
    width: 25px;
    margin: 5px 0 0 0;}
               
            
.footer__div2 a  {
    margin:20px 0 0 0px;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    text-decoration: none;
    color: aliceblue;
            
                }

            }
        
    }