
.section1 {
    display: map-get($standard, flexbox-standar);
    justify-content: map-get($standard,center-standar);
    align-items: map-get($standard, center-standar);
    background-image: url(../multimedia/FondosSections/VERDE-ABSTRAC.jpg);
    width: 100%;
    height: 65vh;

    .carousel {
    width: 45%;
    height: auto;
    }

 }



