
.section1 {
    @extend %flex-center;
    align-items: map-get($standard, center-standar);
    background-image: url(../multimedia/FondosSections/VERDE-ABSTRAC.jpg);
    width: 100%;
    @include alto (65vh);

    .carousel {
    @include ancho (45%);
    @include alto (auto);
    }

    .section1__img {
        width: 20vw;
    }
 }



