.mas-vistos {
    max-width: 100%;
    @include alto (65vh);
    display: flex;
    flex-direction: column;
    justify-content: map-get($standard,center-standar);
    padding: 0 50px;  
    background-image: url(../../multimedia/FondosSections/Completos-NaranjaRosa.jpg);
}
