
/*contactos*/

.fondo-contacto {
    background-image: url(../multimedia/FondosSections/FONDO-PELIS.jpg);
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 35vw;
    height: auto;
    padding: 15px;
    color: $color-fuente;
    background-color: $background-sections;
}

.form__label {
    font-size: 12px;
    width: 10vw;
    height: 30px;
    margin: 11px;
    border-radius: 5px;
}

.form__email {
    width: 10vw;
    height: 30px;
    margin-left: 10px;
    font-size: 11px;
    border-radius: 5px;
}
.form__mensaje {
    width: 33.1vw;
    height: 12.5rem;
    margin: 10px 0 10px 0;
    border-radius: 5px;
    padding: 5px;
}
.boton-enviar {
    display: flex;
    justify-content: flex-end;

}
.form__enviar {
    width: 90px;
    height: auto;
    padding: 2px;
    border-radius: 5px;
}

/*fin contactos*/