
/*contactos*/

.fondo-contacto {
    background-image: url(../../multimedia/FondosSections/FONDO-PELIS.jpg);
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form {
    width: 700px;
    height: auto;
    padding: 10px;
    color: $color-fuente;
    background-color: $background-sections;
    border: $border-sections;
}

.form__text {
    margin-left: 10px;
    font-size: 15px;
}
.form__label {
    width: 180px;
    height: 30px;
    margin: 11px;
    border-radius: 5px;
    font-size: 12px;
    padding: 5px;
}

.label-email{font-size: 15px;}

.form__email {
    width: 190px;
    height: 30px;
    margin-left: 10px;
    font-size: 11px;
    border-radius: 5px;
    padding: 5px;
}

.div-mensaje{
    padding: 10px;
}
.form__mensaje {
    width: 660px;
    height: 12.5rem;
    border-radius: 5px;
    padding: 5px;
}
.boton-enviar {
    display: flex;
    justify-content: flex-end;
    padding-right: 6px;

}
.form__enviar {
    width: 90px;
    height: auto;
    padding: 2px;
    border-radius: 5px;
}

/*fin contactos*/