/*Peliculas*/

.proximos-estrenos {
    background-image: url(../multimedia/FondosSections/FONDO-AZUL.jpg);
    max-width: 100%;
    @include alto (65vh);
    display: map-get($standard,flexbox-standar);
    flex-direction: column;
    justify-content: map-get($standard,center-standar);
    padding: 0 50px;  
 }

 .estrenos{
   @extend %flex-center;
   margin-top: 20px;
    
}

.estrenos img {
   @include ancho (35vw);
   @include alto (auto);
}
 
/* Fin Peliculas*/