/*Peliculas*/

.proximos-estrenos {
   width: 100%;
   @include alto (65vh);
   background-image: url(/multimedia/FondosSections/FondoColores.jpg);
   @extend %flex-center;
   align-items: map-get($standard, center-standar);
  
   
    .carousel {
      @include ancho (45%);
      @include alto (auto);
      }
      
 }

 .estrenos{
   @extend %flex-center;
   margin-top: 20px;
}

.estrenos img {
   @include ancho (35vw);
   @include alto (auto);
}
 
/* Fin Peliculas*/