/*Quearis Laptop*/

@media (min-width: 769px) and (max-width: 1024px) {

.section-destacados {
    max-width: 100%;
    height: auto;
    padding: 0 15px 0 15px;
}

.destacados {
   width: 100%;
    }
           
.destacados__novedades {

    max-width: 100%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;

    &__h2 {width: 100%;}

.cards-sect1 {
width: 20vw;
        
    /*transform*/
       &:hover {transform: scale(1.02);}
            }

 .texto__cards {font-size: 14px;}   

}
               
.destacados-img1 { grid-area: 1 / 1 / 2 / 2;
    width: 18vw;
}
 .destacados-img2 { grid-area: 1 / 2 / 2 / 3; 
    width: 18vw;}
.destacados-img3 { grid-area: 1 / 3 / 2 / 4; 
    width: 18vw;}
 .destacados-img4 { grid-area: 2 / 1 / 3 / 2; 
    width: 18vw;}
.destacados-img5 { grid-area: 2 / 2 / 3 / 3; 
    width: 18vw;}
.destacados-img6 { grid-area: 2 / 3 / 3 / 4; 
   display: none;}

.destacados__novedades img {
    width: 18vw;
   }
       

.section2-main {    
    width: 90%;

    &__titulo {
        width: 50%;
        margin-left: 10px;
        }
               
    &__img {
        width: 18vw;
        height: auto;
        }
        
    .cards-sect2 {
       width: 18vw;
    }

    .S9 {display: none;}
    .S10 { display: none;}
    .S11 { display: none;}
    .S12 { display: none;}
    .S13 { display: none;}
    .S14 { display: none;}
    .S15 { display: none;}
    .S16 { display: none;}
    .S17 { display: none;}
    .S18 { display: none;}
    .S19 { display: none;}
    .S20 { display: none;}

    }

/*Completos*/
.mas-vistos {
    max-width: 100%;
    height: auto;
    padding: 0 15px 0 15px;
    }

/*Peliculas*/
.proximos-estrenos{
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    padding: 0;
   }
   
.estrenos img {
    width: 60vw;
    margin-bottom: 30px;
   }
   

 /*Contacto*/  
.fondo-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
   }
   
.form {
    max-width: 70vw;
    height: auto;
    margin: 0;
    }
   }

/* Fin Queries Laptop*/
   
   
/* Queries Tablet*/
   
@media (min-width: 481px) and (max-width: 768px) {

.section-destacados {
    max-width: 100%;
    height: auto;
    padding: 0 15px 0 15px;
}  
   


    .destacados-img1 { grid-area: 1 / 1 / 2 / 2;
        display: flex;
        justify-content: center;}
     .destacados-img2 { grid-area: 1 / 2 / 2 / 3; 
        display: flex;
        justify-content: center;}
    .destacados-img3 { grid-area: 1 / 3 / 2 / 4; 
        display: flex;
        justify-content: center;}

    .destacados-img4 {display: none;}
    .destacados-img5 { display: none;}
    .destacados-img6 { display:none;}
    

    
       
.destacados__novedades {
   width: 100%;
   display: grid;
   grid-template-columns: repeat(3, auto);
   grid-template-rows: repeat(2, auto);
   grid-column-gap: 0px;
   grid-row-gap: 0px;

    & img {
    width: 25vw;
    }
    
    &__h2 {
    margin-left: 25px;
    width: 90%;
    }
.titulos { font-size: 25px; }

.cards-sect1 {width: 28vw;}
    
.texto__cards {font-size: 16px;}   
    
}

   
.section2-main {    
    width: 90%;

    &__titulo {
        width: 50%;
        margin-left: 10px;
        }
               
    &__img {
        width: 20vw;
        height: auto;
        }
        
    .cards-sect2 {
       width: 20vw;
    }
    .S5 {display: none;}
    .S6 {display: none;}
    .S7 {display: none;}
    .S8 {display: none;}
    .S9 {display: none;}
    .S10 { display: none;}
    .S11 { display: none;}
    .S12 { display: none;}
    .S13 { display: none;}
    .S14 { display: none;}
    .S15 { display: none;}
    .S16 { display: none;}
    .S17 { display: none;}
    .S18 { display: none;}
    .S19 { display: none;}
    .S20 { display: none;}

    }
   

.mas-vistos {
    max-width: 100%;
    height: auto;
    padding: 0 15px 0 15px;
    }
   
.proximos-estrenos{
    max-width: 100%;
    height: auto;
    padding: 0 15px 0 15px;

    & .destacados__novedades__h2 {
    width: 60%;
   } 
    }

   
.estrenos img {
    width: 60vw;
    margin-bottom: 30px;
    }
   
.fondo-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
      }
       
.form {
     width: 72vw;
    height: auto;
    margin: 0;
        }
   
.form__label {
 width: 15vw;
 margin: 0 5px 0 5px;
   }
   
.form__email {
    width: 22vw;
    margin: 0 0 0 5px;
   }
   .form__mensaje {
       width: 69.2vw;
       }
   
   .form__enviar {
       display: flex;
       width: 9vw;
       margin:0 0 0 62vw;
       }
   
   }
   
   /* Fin Queries tablet*/
   
   
   /* Queries Mobile*/
   
   
   @media (min-width: 320px) and (max-width: 480px) {

.section-destacados {
        max-width: 100%;
        height: auto;
        padding: 0 15px 0 15px;
    }
   
.destacados {
        width: 100%;
         }

.destacados__novedades {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(2, auto);
        grid-column-gap: 0px;
        grid-row-gap: 0px;
 
        
        & img {
            width: 26vw;
            }
            
            &__h2 {
            margin: 15px 0 0 12px;
            width: 63%;}

        .titulos { font-size: 16px; }

        .cards-sect1 {width:auto}
            
        .texto__cards {font-size: 14px;}  

   .destacados-img1 {
        display: flex;
        justify-content: center;
        }
    .destacados-img2 {
        display: flex;
        justify-content: center;}
    .destacados-img3 {  
        display: flex;
        justify-content: center;}
    .destacados-img4 { display: none;}
    .destacados-img5 { display: none;}
    .destacados-img6 { display: none;}
            

    }
   
   


.section2-main {    
     width: 90%;
    
     display: grid;
     grid-template-columns: repeat(3, auto);
     grid-template-rows: repeat(2, auto);
     grid-column-gap: 0px;
     grid-row-gap: 0px;
     
     
    .ST { grid-area: 1 / 1 / 2 / 4; }
    .S1 { grid-area: 2 / 1 / 3 / 2; }
    .S2 { grid-area: 2 / 2 / 3 / 3; }
    .S3 { grid-area: 2 / 3 / 3 / 4; }
    .S4 {display: none;}
    .S5 {display: none;}
    .S6 {display: none;}
    .S7 {display: none;}
    .S8 {display: none;}
    .S9 {display: none;}
    .S10 { display: none;}
    .S11 { display: none;}
    .S12 { display: none;}
    .S13 { display: none;}
    .S14 { display: none;}
    .S15 { display: none;}
    .S16 { display: none;}
    .S17 { display: none;}
    .S18 { display: none;}
    .S19 { display: none;}
    .S20 { display: none;}


    &__titulo {
        width: 65%;
        margin-left: 10px;
    font-size: 15px;}
                   
    &__img {
         width: 20vw;
        height: auto;}
            
    .cards-sect2 {
           width: 20vw;
        }
    .texto__cards {font-size: 12px;} 


       }
       
   
   .mas-vistos {
           max-width: 100%;
           height: auto;
           display: flex;
           justify-content: space-between;
           padding: 0;
              }
        
   .proximos-estrenos{
       max-width: 100%;
       height: auto;
       display: flex;
       justify-content: space-between;
       padding: 0;
       }
       
   .estrenos img {
       width: 80vw;
       margin-bottom: 30px;
       }
       
   .fondo-contacto {
       display: flex;
       justify-content: center;
       align-items: center;
       height: auto
        }
           
   .form {
       width: 80%;
       height: auto;
       margin: 20px 0 20px 0;
       }
       
   .form__label {
       width: 15vw;
        margin: 0 5px 0 5px;
       }
   .form__email {
       width: 20vw;
       margin: 0 0 0 5px;
       }
   .form__mensaje {
       width: 75vw;
       }
       
   .form__enviar {
       display: flex;
       width: 15vw;
       margin:0 0 0 63vw;
       display: flex;
       justify-content: center;
       }
   }
   
   /*Fin Queries Mobile*/