.section-destacados {
    max-width: 100%;
    @include alto (65vh);
    display: flex;
    flex-direction: column;
    justify-content: map-get($standard,center-standar);
    background-image: url(../../multimedia/FondosSections/enemision-verde.jpg);
    padding: 0 50px;  
}


    .destacados__novedades {
        // display: map-get($standard, flexbox-standar);
        // justify-content:space-between;
        // align-items: map-get($standard, center-standar);

        
            display: grid;
            grid-template-columns: repeat(6, auto);
            grid-template-rows: repeat(2,auto);
            grid-column-gap: 0px;
            grid-row-gap: 0px;
           
            
            .pages-titulo { grid-area: 1 / 1 / 2 / 4; }
            .destacados-img1 { grid-area: 2 / 1 / 3 / 2; }
            .destacados-img2 { grid-area: 2 / 2 / 3 / 3; }
            .destacados-img3 { grid-area: 2 / 3 / 3 / 4; }
            .destacados-img4 { grid-area: 2 / 4 / 3 / 5; }
            .destacados-img5 { grid-area: 2 / 5 / 3 / 6; }
            .destacados-img6 { grid-area: 2 / 6 / 3 / 7; }

         
            // display: grid;
            // grid-template-columns: repeat(6, auto);
            // grid-template-rows: auto;
            // grid-column-gap: 0px;
            // grid-row-gap: 0px;
            
            
            // .destacados-img1 { grid-area: 1 / 1 / 2 / 2; }
            // .destacados-img2 { grid-area: 1 / 2 / 2 / 3; }
            // .destacados-img3 { grid-area: 1 / 3 / 2 / 4; }
            // .destacados-img4 { grid-area: 1 / 4 / 2 / 5; }
            // .destacados-img5 { grid-area: 1 / 5 / 2 / 6; }
            // .destacados-img6 { grid-area: 1 / 6 / 2 / 7; }

        & img {
        @include ancho (13vw);
        @include alto (auto);
        padding: 0px;
        border-radius: 15px;

          /*transform*/
        
            }

        &__h2 {
        border: $border-titulos;
        background-color: $background-sections;
        padding: 8px 40px 8px 8px;   
        width: 66%;
        color: $color-fuente;   
        font-weight: 400;
        margin: 50px 0 20px 0;

        /*transform*/
        &:hover { transform: scale(1.02);}
                }

.cards-sect1 {
        width: 15vw;
        padding: 10px 10px 10px 10px;
        display: flex;
        flex-direction: column;
       
        
    /*transform*/
       &:hover {transform: scale(1.02);}
            }

 .texto__cards {
    color: aliceblue;
    margin: 0 0 0 0;
    padding: 10px 0 0 10px;
    font-weight: 500; 
                }   

}
