
.section2-li {
    display: map-get($standard, flexbox-standar);
    align-items: map-get($standard, center-standar);
    flex-direction: column;
    }
    
.section2-main {
    width: 60%;
    font-family: 'Orbitron', sans-serif;
    height: auto;
    border: $border-sections;
    margin-top: 50px;
    background-color: $background-sections;
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-template-rows: repeat(2, auto);
    grid-column-gap: 0px;
    grid-row-gap: 0px;


    .ST { grid-area: 1 / 1 / 2 / 5;
            width: auto;
            display: map-get($standard, flexbox-standar);
            }
    .S1{ grid-area: 2 / 1 / 3 / 2; 
            @extend %flex-center;}
    .S2 { grid-area: 2 / 2 / 3 / 3; 
            @extend %flex-center;}
    .S3 { grid-area: 2 / 3 / 3 / 4; 
            @extend %flex-center;}
    .S4 { grid-area: 2 / 4 / 3 / 5;
            @extend %flex-center;}
    .S5 { grid-area: 3 / 1 / 4 / 2; 
            @extend %flex-center;}
    .S6 { grid-area: 3 / 2 / 4 / 3; 
            @extend %flex-center;}
    .S7 { grid-area: 3 / 3 / 4 / 4; 
            @extend %flex-center;}
    .S8{ grid-area: 3 / 4 / 4 / 5;
            @extend %flex-center;}
    .S9 { grid-area: 4 / 1 / 5 / 2;
            @extend %flex-center;}
    .S10 { grid-area: 4 / 2 / 5 / 3; 
            @extend %flex-center;}
    .S11 { grid-area: 4 / 3 / 5 / 4;
            @extend %flex-center;}
    .S12 { grid-area: 4 / 4 / 5 / 5;
            @extend %flex-center;}
    .S13 { grid-area: 5 / 1 / 6 / 2; 
            @extend %flex-center;}
    .S14 { grid-area: 5 / 2 / 6 / 3;
            @extend %flex-center;}
    .S15 { grid-area: 5 / 3 / 6 / 4; 
            @extend %flex-center;}
    .S16 { grid-area: 5 / 4 / 6 / 5;
            @extend %flex-center;}
    .S17 { grid-area: 6 / 1 / 7 / 2;
            @extend %flex-center;}
    .S18 { grid-area: 6 / 2 / 7 / 3; 
            @extend %flex-center;}
    .S19 { grid-area: 6 / 3 / 7 / 4;
            @extend %flex-center;}
    .S20 { grid-area: 6 / 4 / 7 / 5; 
            @extend %flex-center;}


    &__titulo {
        display: map-get($standard, flexbox-standar);
        border: $border-titulos;
        padding: 8px;
        @include ancho (47.2%);
        color: $color-fuente;
        font-weight: 400;
        font-size: 30px;
        margin: 20px 0 20px 1.4vw;

          /*Transform*/

        &:hover{transform: scale(1.02);}
        }

     &__img {
        @include ancho (100%);
        @include alto (auto);
        border-radius: 15px;
        
        }
    }
  .cards-sect2 {
    width: 12vw;
    border: none;
    margin-bottom: 20px;
    &:hover {transform: scale(1.02);}
    
    }


.texto__cards {
        color: aliceblue;
        margin: 0px;
        padding: 10px 0 0 3px;
        
       }